@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-image: url("./bg.png");
  background-size: cover;
  background-position: 0% 70%;
  background-repeat: no-repeat;
  display: flex;
  font-size: 1rem;
  position: relative;
}

body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #aaa;
  opacity: 0.4;
  z-index: -2;
}

i {
  position: absolute;
  font-size: 25rem;
  top: 3%;
  right: 20%;
  color: white;
  opacity: 0.5;
  z-index: -1;
}

.personal {
  flex: 2;
}

.personal p {
  margin: 4rem;
  font-size: 1.2em;
  text-align: justify;
}

.personal .intro {
  width: 100%;
  text-align: center;
  background: white;
  padding: 1rem 0;
  font-size: 4em;
  font-weight: 400;
}

.personal .container {
  display: flex;
  max-width: 280px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  font-weight: 300;
}

.container .design,
.container .development {
  background: #666;
  font-weight: 300;
  color: white;
  padding: 0.5rem 1.2rem;
  position: relative;
}

.container .design {
  align-self: flex-end;
}

.container .development {
  align-self: flex-start;
  margin-top: -16px;
  z-index: -1;
}

aside {
  flex: 1;
}

aside .contact {
  margin: 3rem 4rem 3rem auto;
  text-align: right;
}

aside .contact h1 {
  font-size: 2em;
}

aside .contact h4 {
  font-size: 1.2em;
}

aside .skills {
  margin-left: 3rem;
}
aside .skills h1 {
  font-size: 2em;
  margin-bottom: 1rem;
}
aside ul {
  list-style: none;
}

aside ul li {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

aside ul li::before {
  content: "-";
  margin-right: 0.5rem;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1000px) {
  body {
    background-position: 25% 0%;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
  }

  i {
    top: 20px;
    right: 10%;
    font-size: 12rem;
  }

  main,
  aside {
    width: 100%;
  }

  aside .contact,
  aside .skills {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}
